POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=pricetracker

# Kabum collector
KABUM_URLS=https://www.kabum.com.br/produto/934759/console-sony-playstation-5

# Amazon BR collector (optional)
# AMAZON_URLS=https://www.amazon.com.br/dp/B0DFMJQ7VH

# Kiwi.com Tequila API for flights (get free key at https://tequila.kiwi.com)
# KIWI_API_KEY=your_api_key_here
FLIGHT_ROUTES=GRU-REC,GRU-SSA,GRU-FOR
